.raw-markdown-remark {
	--active-md-link: #0f6cab;
	--visited-md-link: #4b6f88;
	--fallback-font: BlinkMacSystemFont, -apple-system, "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		"Helvetica", "Arial", sans-serif;

	font-family: "Segoe UI", serif, var(--fallback-font);
}

.dark-mode .box {
	background: var(--dark-mode-bg);
}

.dark-mode .raw-markdown-remark,
.dark-mode .raw-markdown-remark strong {
	color: var(--dark-mode-text-color);
}

.dark-mode .raw-markdown-remark h1,
.dark-mode .raw-markdown-remark h2,
.dark-mode .raw-markdown-remark h3,
.dark-mode .raw-markdown-remark h4,
.dark-mode .raw-markdown-remark h5,
.dark-mode .raw-markdown-remark h6 {
	color: var(--dark-mode-text-color);
}

.raw-markdown-remark h1,
.raw-markdown-remark h2,
.raw-markdown-remark h3,
.raw-markdown-remark h4,
.raw-markdown-remark h5,
.raw-markdown-remark h6 {
	font-family: "Segoe UI", sans-serif, var(--fallback-font);
	font-weight: 700 !important;
}

.raw-markdown-remark a {
	border-bottom: 0.1rem dashed var(--active-md-link);
	color: var(--active-md-link) !important;
}

.raw-markdown-remark a:visited {
	color: var(--visited-md-link) !important;
	border-bottom-color: var(--visited-md-link);
}

.raw-markdown-remark .left {
	text-align: left;
}

.raw-markdown-remark .right {
	text-align: right;
}

.raw-markdown-remark .center {
	text-align: center;
}
