@import "~bulma"

.brand
	font-weight: 600
	font-style: italic
	font-size: 3vmin
	letter-spacing: 0.015rem
	cursor: pointer

	a
		text-overflow: ellipsis
		white-space: nowrap
  		overflow: hidden

	&:hover
		color: $info !important
		// text-indent: 1vw
		// letter-spacing: 0.05vw
		transition: color .5s
		
	#airplane
		margin-left: 1vw
		margin-right: 1vw

@media screen and (max-width: 450px)
	.brand
		a
			font-size: 5vmin

	#airplane
  		display: none



.navbar
	border-bottom: 1px solid #4a4a4a

.navbar-item
	color: rgb(54, 54, 54) !important

	&:hover
		background-color: #e8e8e8
    	color: #363636
