:root {
	--dark-mode-title-color: #00d1b2;
	--dark-mode-bg: #404040;
	--dark-mode-text-color: #dbdbdb;

	--scrollbar-color: #3273dc; /* #3298dc */
}

.dark-mode input,
.dark-mode textarea,
.dark-mode select {
	color: var(--dark-mode-text-color) !important;
}
